<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="localhost_SMALLERP_Connection" 
             connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=sa;initial catalog=SMALLERP;Persist Security Info=true" />-->
      <add name="localhost_SMALLERP_Connection" 
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SMALLERP;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
        <add name="SampleERP.Properties.Settings.SMALLERP_DataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SMALLERP_Data.MDF;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>